$icomoon-font-family: "font-icons" !default;
$icomoon-font-path: "~@/assets/font-icons/fonts" !default;

$icon-home: "\e906";
$icon-delete: "\e908";
$icon-artist: "\e904";
$icon-booking: "\e905";
$icon-user: "\e902";
$icon-plus-path1: "\e900";
$icon-plus-path2: "\e901";
$icon-down-arrow: "\e903";

