//fonts
$font-family-base: "Roboto Condensed", sans-serif;
$small-font-size:   12px;

$form-select-indicator:none;
$card-spacer-x: 10px;
$card-spacer-y: $card-spacer-x;
$font-weight:600;
$card-border-color:none;
// $font-size:12px;

$dropdown-link-color:#8f9295;
$dropdown-link-hover-color:black;


